*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./background.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
}

.container{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;

}

header{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icon{
    background-image: url(./home-icon.svg);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.search-box{
    background-color: white;
    display: flex;
    padding: 7px 10px;
    border-radius: 35px;
    max-width: 350px;
    width: 100%;
}

.search-box input{
    border: none;
    outline: none;
    width: calc(100% - 25px);
    font-size: 17px;
}

.search-icon{
    width: 35px;
    height: 25px;
    background-image: url(./search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

main{
    background-color: white;
    padding: 25px 0;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.tagline{
    background-color: #F8E6EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    text-align: center;
    color: #FC2FB9;
    margin-bottom: 25px;
}

.card-section{
    padding: 0 25px;
    display: flex;
    gap: 20px;
}

.card{
    background-color: #FFFAFD;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2{
    padding: 15px;
}

.card img{
    width: 100%;
}

.card p{
    padding: 10px 15px;
}

.card button{
    display: block;
    margin: auto;
    border: none;
    padding: 8px 20px;
    border-radius: 30px;
    background-color: #BB377C;
    color: white;
}

footer{
    background-color: #531234;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer a{
    color: rgba(255, 255, 255, 0.501);
    text-decoration: none;
}

.copy-right-note{
    color: rgba(255, 255, 255, 0.501);
}